@media screen and (min-width: 1200px) {
  .container {
    min-width: 1158px;
  }

  /* HEADER */
  .header-container {
    width: 1158px;
  }
  .header-contacts {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  /* HERO */
  .section-hero {
    width: 1440px;
    padding: 188px 0;
  }
  .hero-title {
    margin-bottom: 48px;
  }

  /* Section Services */
  .section {
    padding: 120px 0;
  }
  .services-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
  }

  .section-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .icon-border {
    width: 264px;
    height: 112px;
    background: var(--secondary-bg-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }
  .services-icon {
    width: 64px;
    height: 64px;
  }

  /* Section Examples */
  .examples-container {
    display: block;
  }
  /* .section-exapmles {
    padding-bottom: 120px;
  } */
  .examples-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
  }

  /* Section Customers */
  .section-customers > .container {
    max-width: 1158px;
  }
  .section-customers {
    padding: 120px 0;
  }
  .customers-item {
    width: 168px;
    height: 88px;
    margin-bottom: 0;
  }

  /* Section Team  */

  .section-team > .container {
    max-width: 1158px;
  }
  .section-team {
    padding: 120px 0;
  }

  .team-list {
    display: flex;
    flex-wrap: nowrap;
  }

  /* Footer */
  .footer > .container {
    max-width: 1158px;
    display: flex;
    align-items: baseline;
  }
  .container {
    gap: unset;
  }
  .social-networks-footer {
    margin-left: 120px;
  }
  .footer-form {
    margin-left: 80px;
  }
  .footer-input {
    width: 264px;
  }
}
