:root {
  --main-title-colour: #2e2f42;
  --main-text-colour: #434455;
  --accent-colour: #4d5ae5;
  --main-bg-colour: #ffffff;
  --secondary-bg-color: #f4f4fd;
  --footer-text-color: #e7e9fc;
  --btn-focus-color: #404bbf;
  --modal-text-color: #8e8f99;
  --modal-bg-color: #fcfcfc;
  --bg-gradient-color: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  );
}
/* RESET */

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  text-decoration: none;
}
button {
  border: none;
}

body {
  background: var(--main-bg-colour);
  color: var(--main-text-colour);

  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
}
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* HEADER */
.header-container {
  width: 100%;
  display: flex;
  align-items: center;
}

.header-nav {
  display: none;
}
.header-contacts {
  display: none;
}
.logo-menu {
  color: var(--main-title-colour);
  font-family: "Raleway", sans-serif;

  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: inherit;
  text-decoration: none;
  text-transform: uppercase;
}
.logo-part-menu {
  color: #4d5ae5;
}
.meny-icon {
  width: 29px;
  height: 19px;
  stroke: var(--main-title-colour);
}
.menu-open-btn {
  display: block;
  margin: 23px 16px 22px auto;
  background-color: transparent;
  border: none;
}
.menu-close-btn {
  margin-left: auto;
  margin-bottom: 32px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--footer-text-color);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color, fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-btn:hover,
.menu-close-btn:focus {
  background-color: var(--btn-focus-color);
  fill: var(--main-bg-colour);
}

.menu-close-icon {
  width: 8px;
  height: 8px;
}
.mobile-menu {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  padding: 14px 14px 20px 20px;
  background-color: var(--main-bg-colour);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.mob-menu-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.mob-menu-link {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.11;
  letter-spacing: 0.02em;

  color: var(--main-title-colour);
}
.mob-active {
  color: var(--accent-colour);
}

.mob-menu-contacts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.mob-menu-tel {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--accent-colour);
}

.mob-menu-addres {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-text-colour);
}
.mob-menu-soc-icon {
  display: flex;
  gap: 30px;
  margin-top: 38px;
}
.menu-social-list-link {
  width: 35px;
  height: 35px;
  display: flex;
  background-color: var(--accent-colour);
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-social-icon {
  fill: var(--secondary-bg-color);
  width: 24px;
  height: 24px;
}

/* HERO */

.section-hero {
  margin: 0 auto;
  background-color: var(--main-title-colour);
  padding: 112px 0;

  background-image: var(--bg-gradient-color), url(../images/hero-bg-mob.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section-hero {
    background-image: var(--bg-gradient-color),
      url(../images/hero-bg-mob-2x.jpg);
  }
}

.hero-title {
  color: var(--main-bg-colour);

  font-size: 36px;
  line-height: 1.1;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  text-align: center;
}
.hero-button {
  background-color: var(--accent-colour);
  color: var(--main-bg-colour);
  display: block;
  margin: 0 auto;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  min-width: 169px;
  height: 56px;
  letter-spacing: 0.04em;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--btn-focus-color);
}

/* Section Services */
.section {
  padding: 96px 0;
}
.section-title,
.section-subtitle {
  color: var(--main-title-colour);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.section-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  margin-bottom: 8px;
}
.section-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text-colour);

  line-height: 1.5;
}

.services-item {
  width: calc((100% - 24px) / 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icon-border {
  display: none;
}

/* Section Examples */

.examples-container {
  display: none;
}

/* Section Customers */
.section-customers {
  padding: 96px 0;
}
.customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
.customers-item {
  width: calc((100% - 32px) / 2);
  height: 88px;
  margin-bottom: 72px;
}
.customers-list-link {
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #8e8f99;
  transition: fill, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-link:is(:hover, :focus) {
  border-color: var(--btn-focus-color);
  fill: var(--btn-focus-color);
}

.customers-icon {
  width: 104px;
  height: 56px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Section Team  */
.section-team {
  background-color: var(--secondary-bg-color);
  padding: 96px 0;
}
.section-team > .container {
  max-width: 294px;
}
.section-subtitle-team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2px;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 15px;
}
.section-text-team {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.team-item {
  background-color: var(--main-bg-colour);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.team-social-list-link:hover,
.team-social-list-link:focus {
  background-color: var(--btn-focus-color);
}
.team-social-list-item {
  width: 40px;
  height: 40px;
}

.team-social-list-link {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: var(--accent-colour);
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-icon {
  fill: var(--main-bg-colour);
  width: 16px;
  height: 16px;
}
.team-item-subscribe {
  text-align: center;
  padding: 32px 0;
}

/* Footer */

.footer {
  padding: 96px 0;
  background-color: var(--main-title-colour);
}
.logo-part {
  color: #4d5ae5;
}
.footer .logo-footer {
  color: var(--secondary-bg-color);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  text-decoration: none;
  text-transform: uppercase;
}
.footer-text {
  width: 264px;
  line-height: 1.5;
  margin-top: 16px;
  color: var(--footer-text-color);
}
.footer-logo-and-text {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 72px;
}
.social-networks-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 72px;
}
.social-networks-footer-list {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}
.footer-social-list-link {
  width: 40px;
  height: 40px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-icon {
  fill: var(--main-bg-colour);
  width: 24px;
  height: 24px;
}
.footer-social-list-link:is(:hover, :focus) {
  background-color: #31d0aa;
}
.social-networks-footer-text {
  font-weight: 500;
  line-height: 1.5;
  color: var(--main-bg-colour);
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-modal-form-text {
  font-weight: 500;
  line-height: 1.5;
  color: var(--main-bg-colour);
  margin-bottom: 16px;
}
.footer-form-btn {
  width: 165px;
  height: 40px;
  background-color: var(--accent-colour);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--main-bg-colour);
  border-radius: 4px;
  margin-left: 24px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: var(--btn-focus-color);
}
.send-icon {
  width: 24px;
  height: 24px;
  margin-left: 16px;
  fill: var(--secondary-bg-color);
}
.footer-input {
  width: 100%;
  height: 40px;
  margin-bottom: 16px;
  border: 1px solid var(--main-bg-colour);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--main-bg-colour);
  padding: 8px 16px;
}
.footer-input::placeholder {
  color: var(--main-bg-colour);
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
}

/* Modal Page */
.backdrop {
  position: fixed;
  top: 0;
  background-color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 100%;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-page {
  position: relative;
  width: 100%;
  min-height: auto;
  background-color: var(--modal-bg-color);
  border-radius: 4px;
  position: absolute;
  padding: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
}
.backdrop.is-hidden > .modal-page {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close-btn {
  margin-left: auto;
  margin-bottom: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--footer-text-color);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color, fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--btn-focus-color);
  fill: var(--main-bg-colour);
}

.close-icon {
  width: 8px;
  height: 8px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: 0;
}
.modal-title {
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 16px;
  text-align: center;
  color: var(--main-title-colour);
}

.modal-field-text {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--modal-text-color);
  margin-bottom: 4px;
}

.modal-field {
  display: block;
  margin-bottom: 8px;
}
.input-wrap {
  position: relative;
}
.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 19px;
  transform: translateY(-50%);
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 38px;
  outline: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus,
.modal-input:hover {
  border-color: var(--accent-colour);
}
.modal-input:focus + .modal-input-icon,
.modal-input:hover + .modal-input-icon {
  fill: var(--accent-colour);
}
.modal-text-area {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--modal-text-color);
}

.modal-comment {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 8px 16px;
  resize: none;
  margin-bottom: 16px;
  outline: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-comment:hover,
.modal-comment:focus {
  border-color: var(--accent-colour);
}

.check-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--modal-text-color);
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 24px;
}
.check-text > a {
  color: var(--accent-colour);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}

.check-text .check-box {
  width: 16px;
  height: 16px;
  border: 1px solid #2e2f42;
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.input-check:checked + .check-text > .check-box {
  background-color: var(--btn-focus-color);
  border: none;
  fill: #f4f4fd;
}

.privacy-policy {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  color: var(--accent-colour);
}

.finish-modal-btn {
  width: 159px;
  height: 56px;
  display: block;
  color: var(--main-bg-colour);
  background: var(--accent-colour);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 500;
  margin: 0 auto;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.finish-modal-btn:hover,
.finish-modal-btn:focus {
  background-color: var(--btn-focus-color);
}

@media screen and (min-width: 480px) {
  .container {
    width: 426px;
  }
  .header-container {
    width: 426px;
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    padding: 24px 24px 40px 40px;
    background-color: var(--main-bg-colour);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
  }

  .mob-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .mob-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;

    color: var(--main-title-colour);
  }
  .mob-active {
    color: var(--accent-colour);
  }

  .mob-menu-contacts {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .mob-menu-tel {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--accent-colour);
  }

  .mob-menu-addres {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-text-colour);
  }
  .mob-menu-soc-icon {
    display: flex;
    gap: 24px;
    margin-top: 48px;
  }
  .menu-social-list-link {
    width: 40px;
    height: 40px;
    display: flex;
    background-color: var(--accent-colour);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-social-icon {
    fill: var(--secondary-bg-color);
    width: 24px;
    height: 24px;
  }
  .footer-input {
    width: 398px;
  }
  .modal-page {
    position: relative;
    width: 392px;
    height: 586px;
    background-color: var(--modal-bg-color);
    border-radius: 4px;
    position: absolute;
    padding: 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
}
